.image-container{
    width: fit-content;
    margin:30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.image-container>img{
    width: 800px;
}